body {
    background-color: lightblue;
    color:dimgrey ;
    text-decoration: none;
    font-style: initial;
    font-size: 20px;
}
.snake {
    width: 300px;
    height: 200px;
}
header {
    text-align: center;
}
nav { 
    margin: 20px 10px;
    text-align: center;
    padding: 20px 10px;
    background-color:aquamarine ;
}
nav a {
    text-decoration: none;
    color: cyan;
    border: 5px solid blueviolet;
    border-radius: 10px;
    background-color: black;
    padding: 5px 3px;
    margin: 20px 0px;
}
h2 {
    color: rgb(14, 133, 14);
}
.lifetype {
    color: olive;
}
.xxx {
    color: rgb(155, 158, 0);
}
.organ {
    color: olivedrab;
}
.build {
    color:rgb(202, 156, 69) ;
}
main {
    margin: 100px 0 px;
}
